.orders-panel {
  margin-top: 30px;
  background: var(--panel);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 14px 14px;
  margin-bottom: 14px;
  position: relative;
  overflow: hidden;

  h2 {
    font-size: 16px;
    margin-bottom: 12px;
  }
}
.order-cards {
  display: grid;
  gap: 16px;
  .order-card {
    padding: 24px;
    background: #2f3449;
    border-radius: 12px;
  }
  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    span {
      font-weight: 700;
      line-height: 15px;
      letter-spacing: -0.25px;
    }
    h6 {
      font-weight: 500;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: -0.1px;
    }
  }
  .order-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      p {
        margin-top: 9px;
      }

    }
    .order-status {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 15px;
      background: #434444;
      border-radius: 6px;
      span {
        width: 9px;
        height: 9px;
        border-radius: 99999px;
        background: #33d69f;
        display: inline-block;
      }
      h5 {
        color: #33d69f;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: -0.25px;
      }
    }
  }
}
